#bibliografia{
    background-color: #a1b0b8;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

#llicencia{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

#entrada{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "Inici Llistat Contacte";
}

#text{
    color: white;
    padding: 10px;
}

body{
    background-color: rgba(2,74,0,0.87)
}

#tortuga{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}

h1{
    color: white;
}

h2{
    color: white;
}

#llutria{
    background-color: green;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}

#retpanat{
    background-color: saddlebrown;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}

body{
    background-image: url("https://www.bioenciclopedia.com/wp-content/uploads/2012/03/bosque-800.jpg");
}

a{
    color: white;
}

.i{
    grid-area: Inici;
}

.l{
    grid-area: Llistat;
}

.c{
    grid-area: Contacte;
}

@media (max-width: 600px) {
    #llicencia{
        display: flex;
        flex-direction: column;
    }
    #entrada{
        display: flex;
        justify-content: space-between;
    }
    #tortuga{
        display: flex;
        flex-direction: column;
    }
    #llutria{
        display: flex;
        flex-direction: column;
    }
    #retpanat{
        display: flex;
        flex-direction: column;
    }
    h2{
        display: flex;
        justify-content: center;
    }
    h1{
        display: flex;
        justify-content: center;
    }
}